<h1> All found bugs </h1>
<h2>@Model.CurrCategory</h2>
<div class="box">
    <a class="btn" type="submit" asp-area="" asp-controller="NewBug" asp-action="Index">Create new bug</a>
</div>
<div class="row mt-5 mb-2">
    @{
        foreach(var bug in Model.AllBugs)
        {
            <div class="col-4">
                <img class="img-thumbnail" src="@bug.ScreenShot" alt="@bug.Name">
                <nav>
                    <a href="@bug.Id"><h2 asp-area="" asp-controller="SingleRecord" asp-action="Index"> Name: @bug.Name</h2></a>
                </nav>
                <p> IsSolved: @bug.IsSolved</p>
            </div>
        }
    }
</div>
